# Data Transformation with Pandas

Pandas is a popular Python package for data transformation. It is open source (BSD-licensed). It provides efficient, easy-to-use data transformation and analusis tools. In the following section, we will show you how to use Pandas to transform and analyze tabular data.

------------------------------------------------------------------------------

We import numpy and pandas as follows, we assign alias of packages after the term "as" so we don't need to type in the full name of the package every time we use it

In [ ]:
import numpy as np
import pandas as pd

## Loading Datasets with Pandas

With Pandas, we can read tables of different format (csv. json, parquet, ...)  
  
In our case, we are reading a table in csv. The table "Papers" is a part of the Microsoft Academic Graph. The table includes publication information, such as title, publish year, publisher, ...

In [ ]:
Papers = pd.read_csv('~/datasets/s4/MAG/Papers.csv')

By calling:   
```python
Papers.head()
```
we can view the first five lines of the datast

## Brief Overview of the Data

In [ ]:
Papers.head()

By calling:   
```python
Papers.tail()
```
we can view the last five lines of the datast

In [ ]:
Papers.tail()

We can also assign the number of lines we want to view:

In [ ]:
Papers.head(10)

we can check all the column names

In [ ]:
Papers.columns

We cam also check the datatype of different columns in the dataframe

In [ ]:
Papers.dtypes

We can get basic statistic summary

In [ ]:
Papers.describe()

To select a part of the dataframe, for example, a column in a dataframe, we can either use a square bracket or a dot:

In [ ]:
Papers['PaperTitle']

In [ ]:
Papers.PaperTitle

In [ ]:
Papers[['PaperTitle', 'Year']]

With square bracket, we can slices the rows

## Indexing and Selecting Data

In [ ]:
Papers[0:3]

By Calling
```python
.sort_values()
```
We can sort a dataframe by the value of a column

In [ ]:
Papers.\
    sort_values(by = 'CitationCount', 
                ascending = False)[['PaperTitle', 'CitationCount']][0:20]

We can also use
```python
.loc[]
```
to make selection by label. 
We may do that using this format:
```python
df.loc[indics, column names]
```

In [ ]:
Papers.loc[1:4, 'PaperTitle']

Select multiple columns

In [ ]:
Papers.loc[1:4, ['PaperTitle', 'CitationCount']]

Using
```python
.iloc[]
```
we can make selection by position(index). 
We may do that using this format:
```python
df.iloc[row position, column position]
```

In [ ]:
Papers.iloc[[1, 3, 5], [2, 4, 6]]

In [ ]:
Papers.iloc[1:5, 2:4]

We can also select rows by condition

In [ ]:
Papers[Papers['CitationCount'] >= 100]

Most of the data we use might be dirty, in a sense that it includes a lot of NaN values. With Pandas we can either remove rows with NaNs or fill NaN with another value

## Removing NaN

In [ ]:
Papers[['DocType', 'PaperTitle', 'CitationCount']].dropna()

Some time by removing rows with NaN, we might loss a lot of information. In the following example, we lost data because a lot of publication in the dataset is missing document type. Removing all the rows with NaN might bring undesired results.

In [ ]:
len(Papers[['DocType', 'PaperTitle', 'CitationCount']]), len(Papers[['DocType', 'PaperTitle', 'CitationCount']].dropna())

Instead of removing NaN, we can also fill those fields with other values:

In [ ]:
Papers['DocType'].fillna('unknown')

With Pandas, we can perform simple descriptive statistic:

In [ ]:
Papers.CitationCount.mean(), Papers.CitationCount.std()

Counting the frequency of different categories in a dataframe:

In [ ]:
Papers.DocType.fillna('unknown').value_counts()

## Data Preprocessing

Sometimes we want to apply an operation on a column, we can simply call
```python
.apply(func)
```
with ```func``` being the operation in the form of Python function

In [ ]:
def published_recently(s):
    if (2021 - s) <= 10:
        return(True)
    else:
        return(False)

Papers.Year.apply(published_recently)

There are many ways we can link two different dataframe. One way is to use ```pd.concat([])```

In [ ]:
pd.concat([Papers.Year, Papers.Year.apply(published_recently)], axis = 1)

If we want to combine two dataframe with matching column values, we can use ```merge()```

Let's import another table:

In [ ]:
PaperCitationContext = pd.read_csv('~/datasets/s4/MAG/PaperCitationContexts.csv')

Merge two dataframe matching PaperId to see what each paper is citing and the citaiton context

In [ ]:
Papers.\
    merge(PaperCitationContext, how = 'inner', on = 'PaperId')[['PaperTitle', 'CitationContext']]

We might want to look at simple descriptive statistic or apply complicated operation on data broken into different groups, we can use
```python
.groupby()
```
to do that. In the following case, we will calculate the average citation count for different document type:

In [ ]:
Papers.groupby('DocType')['CitationCount'].mean()

In the following case, we are counting the number of documents of different document types

In [ ]:
Papers.groupby('DocType')['PaperId'].count()

# Visualization with Matplotlib

(code example from jakevdp/PythonDataScienceHandbook)

### Importing Matplotlib

Like the package NumPy and Pandas, we will also use `as` to shorten the package name for `Matplotlib`:

In [ ]:
import matplotlib.pyplot as plt

### Setting Styles

There are many [plot styles](https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html) matplotlib provides. In this notebook we will be using the `classic` style.

In [ ]:
plt.style.use('classic')

#### Plotting from an IPython notebook

- ``%matplotlib notebook``  *interactive* plots embedded within the notebook
- ``%matplotlib inline``  *static* images of your plot embedded in the notebook

In [ ]:
%matplotlib inline

Lets plot cosine and sine

In [ ]:
import numpy as np
x = np.linspace(0, 10, 100)

fig = plt.figure()
plt.plot(x, np.sin(x), '-')
plt.plot(x, np.cos(x), '--');

We used [`np.linespace`](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html), to create our data `x`. In short 
> np.linespace(starting number, end number, number of data points)

## Two Plots in One Image

Brief idea of subplot

In [ ]:
plt.figure()  # create a plot figure

# create the first of two panels and set current axis
plt.subplot(2, 1, 1) # (rows, columns, panel number)
plt.plot(x, np.sin(x))

# create the second panel and set current axis
plt.subplot(2, 1, 2)
plt.plot(x, np.cos(x));

#### Object-oriented interface

in the object-oriented interface the plotting functions are *methods* of explicit ``Figure`` and ``Axes`` objects

In [ ]:
# First create a grid of plots
# ax will be an array of two Axes objects
fig, ax = plt.subplots(2)

# Call plot() method on the appropriate object
ax[0].plot(x, np.sin(x))
ax[1].plot(x, np.cos(x));

## Simple Line Plots

line plot of a single function $y = f(x)$.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np
fig = plt.figure()
ax = plt.axes()

x = np.linspace(0, 10, 1000)
ax.plot(x, np.sin(x));

create a single figure with multiple lines, we can call the ``plot`` function multiple times:

In [ ]:
plt.plot(x, np.sin(x))
plt.plot(x, np.cos(x));

## Adjusting the Plot: Line Colors and Styles

In [ ]:
plt.plot(x, np.sin(x - 0), color='blue')        # specify color by name
plt.plot(x, np.sin(x - 1), color='g')           # short color code (rgbcmyk)
plt.plot(x, np.sin(x - 2), color='0.75')        # Grayscale between 0 and 1
plt.plot(x, np.sin(x - 3), color='#FFDD44')     # Hex code (RRGGBB from 00 to FF)
plt.plot(x, np.sin(x - 4), color=(1.0,0.2,0.3)) # RGB tuple, values 0 to 1
plt.plot(x, np.sin(x - 5), color='chartreuse'); # all HTML color names supported

In [ ]:
plt.plot(x, x + 0, linestyle='solid')
plt.plot(x, x + 1, linestyle='dashed')
plt.plot(x, x + 2, linestyle='dashdot')
plt.plot(x, x + 3, linestyle='dotted');

# For short, you can use the following codes:
plt.plot(x, x + 4, linestyle='-')  # solid
plt.plot(x, x + 5, linestyle='--') # dashed
plt.plot(x, x + 6, linestyle='-.') # dashdot
plt.plot(x, x + 7, linestyle=':');  # dotted

In [ ]:
plt.plot(x, x + 0, '-g')  # solid green
plt.plot(x, x + 1, '--c') # dashed cyan
plt.plot(x, x + 2, '-.k') # dashdot black
plt.plot(x, x + 3, ':r');  # dotted red

## Labeling Plots

In [ ]:
plt.plot(x, np.sin(x))
plt.title("A Sine Curve")
plt.xlabel("x")
plt.ylabel("sin(x)");

In [ ]:
plt.plot(x, np.sin(x), '-g', label='sin(x)')
plt.plot(x, np.cos(x), ':b', label='cos(x)')
plt.axis('equal')

plt.legend();

## Visualization with Seaborn

#### Multi Line Plot with Legend

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
import pandas as pd

In [ ]:
# Create some data
rng = np.random.RandomState(0)
x = np.linspace(0, 10, 500)
y = np.cumsum(rng.randn(500, 6), 0) # create 6 array of number that adds up to 0

In [ ]:
# Plot the data with Matplotlib defaults
plt.plot(x, y)
plt.legend('ABCDEF', ncol=2, loc='upper left');

In [ ]:
import seaborn as sns
sns.set() # using sns theme
# same plotting code as above!
plt.plot(x, y)
plt.legend('ABCDEF', ncol=2, loc='upper left');

### Pair plots
 *pair plots*. A quick visulization on the relationship between each columns in iris datas.

In [ ]:
iris = sns.load_dataset("iris")
iris.head()

In [ ]:
sns.pairplot(iris, hue='species', height=2.5);

### Faceted histograms

Create multiple plots with Facet. Below is a datasets of tips, we will analysis the percentage of tips custom give base on *sex* and *time*

In [ ]:
tips = sns.load_dataset('tips')
tips.head()

In [ ]:
tips['tip_pct'] = 100 * tips['tip'] / tips['total_bill']

grid = sns.FacetGrid(tips, row="sex", col="time", margin_titles=True)
grid.map(plt.hist, "tip_pct", bins=np.linspace(0, 40, 15));

### Factor plots

Some quick boxplots

In [ ]:
with sns.axes_style(style='ticks'):
    g = sns.catplot(x="day", y="total_bill", hue="sex", data=tips, kind="box")
    g.set_axis_labels("Day", "Total Bill");

# Activity

##### Can you create a line plot with matplotlib or seaborn showing trend of the number of papers between 2000 and 2010 in MAG papers dataset? 
![solution1](https://raw.githubusercontent.com/SciSciSummerSchool/s4_lectures/master/1_introduction/images/01_03_activity1.png)

In [ ]:
Papers = pd.read_csv("~/datasets/s4/MAG/Papers.csv")

# Display without scientific notation
ax = plt.axes()
ax.ticklabel_format(useOffset=False)

# code here
#
#
#

### Advanced (optional)

##### Using matplotlib or seaborn, can you show the trend of citation numbers between 1950 and 2015 for different types of documents?
![solution2](https://raw.githubusercontent.com/SciSciSummerSchool/s4_lectures/master/1_introduction/images/01_03_activity2.png)

In [ ]:
Papers = pd.read_csv("~/datasets/s4/MAG/Papers.csv")

# Display without scientific notation
ax = plt.axes()
ax.ticklabel_format(useOffset=False)

# code here
#
#
# 

# Legend style
plt.legend(loc='upper left');